<body>
    <div class="container py-2">
        <div class="row justify-content-between mt-5 mb-5">
            <div class="d-flex justify-content-start col-md-4">
            </div>
            <button mat-button (click)="openDialog()">Agregar</button>
        </div>
        <div class="row">
            <div class="col">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              
                    <ng-container matColumnDef="#">
                      <th class="header" mat-header-cell *matHeaderCellDef> No. </th>
                      <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="Tipo identificación">
                        <th class="header" mat-header-cell *matHeaderCellDef> Tipo Identificación </th>
                      <td mat-cell *matCellDef="let element"> {{element.TipoIdentificacion}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="Identificación">
                        
                        <th class="header" mat-header-cell *matHeaderCellDef>
                            Identificación
                            <mat-form-field class="filter" floatLabel="never">
                              <mat-label>Search</mat-label>
                              <input matInput [formControl]="idFilter">
                            </mat-form-field>
                          </th>
                      <td mat-cell *matCellDef="let element"> {{element.Identificacion}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Nombre1">
                        <th class="header" mat-header-cell *matHeaderCellDef>
                            Nombre1
                            <mat-form-field class="filter" floatLabel="never">
                              <mat-label>Search</mat-label>
                              <input matInput [formControl]="name1Filter">
                            </mat-form-field>
                          </th>
                      <td mat-cell *matCellDef="let element"> {{element.Nombre1}} </td>
                    </ng-container>
                    <ng-container  matColumnDef="Apellido1">
                        <th class="header" mat-header-cell *matHeaderCellDef>
                            Apellido1
                            <mat-form-field class="filter" floatLabel="never">
                              <mat-label>Search</mat-label>
                              <input  matInput [formControl]="lastName1Filter">
                            </mat-form-field>
                          </th>
                      <td mat-cell *matCellDef="let element"> {{element.Apellido1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Celular">
                      <th class="header" mat-header-cell *matHeaderCellDef> Celular </th>
                      <td mat-cell *matCellDef="let element"> {{element.Celular}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Ciudad">
                      <th class="header" mat-header-cell *matHeaderCellDef> Ciudad </th>
                      <td mat-cell *matCellDef="let element"> {{element.Ciudad}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Email">
                        <th class="header" mat-header-cell *matHeaderCellDef>
                            Email
                            <mat-form-field class="filter" floatLabel="never">
                              <mat-label>Search</mat-label>
                              <input matInput [formControl]="emailFilter">
                            </mat-form-field>
                          </th>
                      <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="Accion">
                        <th class="header" mat-header-cell *matHeaderCellDef> Accion </th>
                        <td mat-cell *matCellDef="let element"><button type="submit" class="btn btn-info" (click)="deleteStudent(element.Id)">Eliminar</button>
                            &nbsp;
                            <button type="submit" class="btn btn-info" (click)="openDialogUpdate(element.Id)">Actualizar</button></td>
                      </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
            </div>
        </div>
    </div>
</body>