
<mat-dialog-content class="mat-typography">
    <form [formGroup]="form" (ngSubmit)="saveOrUpdateStudent($event)">
        <mat-card>
            <mat-card-header>
                <button mat-raised-button *ngIf="modeModalCreate">Creación de estudiante</button>
                <button mat-raised-button [disabled]="!isAsignedCourse" *ngIf="!modeModalCreate" (click)="goUpdatedStudent()">Actualización de estudiante</button>
                <button mat-raised-button [disabled]="isAsignedCourse" *ngIf="!modeModalCreate" (click)="goAsignedCourse()">Asignar curso</button>
            </mat-card-header>
            <mat-card-content *ngIf="!isAsignedCourse">
                <div *ngIf="!modeModalCreate" class="row">
                    <div class="col-xs">
                        <mat-form-field >
                            <input text="text" [placeholder]="data" disabled matInput placeholder="ID"
                                /> 
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs">
                        <mat-form-field>
                            <input text="text" maxlength="2" minlength="2" formControlName="TipoIdentificacion" matInput placeholder="Tipo Identificacion (CC | TI)"
                                required />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs">

                        <mat-form-field>
                            <input text="text" maxlength="15" minlength="3" formControlName="Identificacion" matInput
                                placeholder="Numero de identificación" required />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs">

                        <mat-form-field>
                            <input text="text" maxlength="20" minlength="3" formControlName="Nombre1" maxlength="20" matInput placeholder="Primer Nombre" required />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs">

                        <mat-form-field>
                            <input text="text" maxlength="20" minlength="3" formControlName="Nombre2" matInput placeholder="Segundo Nombre" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs">

                        <mat-form-field>
                            <input text="text" maxlength="20" minlength="3" formControlName="Apellido1" matInput placeholder="Primer Apellido"
                                required />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs">

                        <mat-form-field>
                            <input text="text" maxlength="20" minlength="3" formControlName="Apellido2" matInput placeholder="Segundo Apellido" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs">

                        <mat-form-field>
                            <input text="text" maxlength="50" minlength="5" formControlName="Email" matInput placeholder="Correo Electronico" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs">

                        <mat-form-field>
                            <input text="text" maxlength="20" minlength="3" formControlName="Celular" matInput placeholder="Celular" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs">

                        <mat-form-field>
                            <input text="text" maxlength="50" minlength="3" formControlName="Direccion" matInput placeholder="Direccion" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs">

                        <mat-form-field>
                            <input text="text" maxlength="50" minlength="3" required formControlName="Ciudad" matInput placeholder="Ciudad" />
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions *ngIf="!isAsignedCourse" align="end">
                <button mat-raised-button mat-dialog-close>Cancelar</button>
                <button [disabled]="!form.valid" *ngIf="modeModalCreate" mat-raised-button type="submit">Guardar</button>
                <button [disabled]="!form.valid" *ngIf="!modeModalCreate" mat-raised-button type="submit">Actualizar</button>
            </mat-card-actions>
            <mat-card-content *ngIf="isAsignedCourse">
                <br>
                <mat-card-title>Cursos.</mat-card-title>
                <table mat-table [dataSource]="courses" class="mat-elevation-z8">
              
                <ng-container matColumnDef="#">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Nombre">
                  <th mat-header-cell *matHeaderCellDef> Nombre </th>
                  <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
                </ng-container>
              
                <ng-container matColumnDef="N Creditos">
                  <th mat-header-cell *matHeaderCellDef> N Creditos </th>
                  <td mat-cell *matCellDef="let element"> {{element.NumeroCreditos}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Accion">
                    <th mat-header-cell *matHeaderCellDef> Accion </th>
                    <td mat-cell *matCellDef="let element"><button type="submit" (click)="asignedCourse(element.Id)" class="btn btn-info">Asignar</button></td>
                  </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <br>
              <mat-card-title>Mis Cursos.</mat-card-title>
              <table mat-table [dataSource]="myCourses" class="mat-elevation-z8">
              
                <ng-container matColumnDef="#">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Nombre">
                  <th mat-header-cell *matHeaderCellDef> Nombre </th>
                  <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
                </ng-container>
              
                <ng-container matColumnDef="N Creditos">
                  <th mat-header-cell *matHeaderCellDef> N Creditos </th>
                  <td mat-cell *matCellDef="let element"> {{element.NumeroCreditos}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Accion">
                    <th mat-header-cell *matHeaderCellDef> Accion </th>
                    <td mat-cell *matCellDef="let element"><button type="submit" (click)="deleteAsignedCourse(element.Id)" class="btn btn-info">Eliminar</button></td>
                  </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </mat-card-content>
        </mat-card>
    </form>
</mat-dialog-content>